#root {
  margin: 0 auto;
  text-align: center;
  font-family: roboto, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  max-width: 1440px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
